@model List<Books>
@{
    Layout = null;
    int Sn = 1;
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Edit profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Student" asp-action="MyRequestBook">My Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout" >Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h2 class="text-center">Book list</h2>
    <table id="myTable" class="display mt-4">
        <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Level</th>
                <th>Publication</th>
                <th>Book Author</th>
                <th>Book Category</th>
                <th>Book Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>@(Sn++)</td>
                    <td>@(item.Name)</td>
                    <td>@(item.Level)</td>
                    <td>@(item.Publication)</td>
                    <td>@(item.BookAuthor.Name)</td>
                    <td>@(item.BookCategory.Name)</td>
                    <td>@(item.Count)</td>
                    <td>
                      <form asp-action="RequestBook" asp-controller="Book" method="POST">
                          <input name="bookId" hidden value="@(item.Id)">
                            <button type="submit" class=" btn btn-primary">
                                Request
                            </button>
                        </form>

                    </td>>
                </tr>
                }       
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    $("#myTable").DataTable();
</script>